p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: darkblue;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

html {
    background-color: antiquewhite;
}