div {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 200px;
    border: solid rgb(151, 151, 151);
    border-width: 5px 1px;
    color: rgb(187, 119, 119);
}
p {
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    font-weight: 700;
    font-size: 30px;
}
img {
    border: 2px solid black;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
html {
    background-color: antiquewhite ;
}